@charset "UTF_8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
  font-family: "Times Newer Roman", Times, serif;
  src: url(./fonts/TimesNewerRoman-Bold.otf);
}

/* Commen (Defalt,Reset) */
:root {
  --main_color: #7aadd3;
  --main_color_10: rgba(122, 173, 211, 0.1);
  --font-color-base: #000;
  --font-color-heading: #000;
  --font-color-primary: #7aadd3;
  --font-color-secondary: #ef441f;
  --font-color-warn: #ec2a1d;
  --font-color-success: #7aadd3;
  --swiper-theme-color: #007aff;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: "Pretendard Variable", "pretendard", "Apple SD Gothic Neo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: -0.04rem;
}
.hide_txt {
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* header */
#header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: transparent;
  transition: all 0.5s;
}
#header.up {
  transform: translateY(-100%);
}
#header.active,
#header[data-bg="white"] {
  background: #fff;
}
#header.active::after,
#header[data-bg="white"]::after {
  opacity: 1;
}
#header.active .util img,
#header[data-bg="white"] .util img,
#header.active .header_wr .btn_allmenu_open,
#header[data-bg="white"] .header_wr .btn_allmenu_open {
  filter: invert(1);
}
#header.active .header_wr .l_wr #gnb > li,
#header[data-bg="white"] .header_wr .l_wr #gnb > li {
  color: #000;
}
#header.active .header_wr::before {
  opacity: 0.3;
}
#header::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--main_color_10);
  content: "";
  opacity: 0;
}
#header .header_wr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
  position: relative;
  background: inherit;
}
#header .header_wr::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  content: "";
  pointer-events: none;
  opacity: 0;
}
#header .header_wr .l_wr {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}
#header .header_wr .l_wr h1 {
  width: 5.6rem;
  font-size: 0;
}
#header .header_wr .l_wr h1 a {
  font-size: 0;
}
#header .header_wr .l_wr h1 img,
.aside_wrap h1 img {
  display: block;
}
#header .header_wr .l_wr #gnb {
  display: flex;
  position: relative;
}
#header .header_wr .l_wr #gnb > li {
  width: auto;
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
  letter-spacing: 0.03rem;
  transition: all 0.5s;
}
#header .header_wr .l_wr #gnb > li > a {
  display: block;
  padding: 0 20px;
  width: auto;
  min-width: 10rem;
  line-height: 7.5rem;
  text-align: center;
  transition: min-width 0.8s ease-in-out;
}
#header .header_wr .l_wr nav:hover #gnb > li > a {
  min-width: 17rem;
  text-align: left;
}
#header .header_wr .l_wr #gnb .dep2 {
  padding-left: 2rem;
  position: absolute;
  z-index: 999;
  height: 43rem;
  visibility: hidden;
  transition: opacity 0.5s;
  opacity: 0;
}
#header .header_wr .l_wr #gnb li:not(:first-child) .dep2 {
  border-left: 2px solid var(--main_color_10);
}
#header .header_wr .l_wr nav:hover #gnb .dep2 {
  visibility: visible;
  opacity: 1;
}
#header .header_wr .l_wr #gnb .dep2 > li {
  margin-top: 20px;
  width: auto;
  font-size: 1.4rem;
  font-weight: 600;
  color: #4d4d4d;
}
#header .header_wr .l_wr #gnb .dep3 > li {
  font-size: 1.2rem;
  font-weight: normal;
  transition: opacity 0.5s;
  opacity: 0.7;
}
#header .header_wr .l_wr #gnb .dep3 > li:hover {
  opacity: 1;
}
#header .header_wr .l_wr #gnb .dep3 > li:first-child {
  margin-top: 10px;
}
#header .header_wr .l_wr nav .pan {
  position: absolute;
  top: 7.5rem;
  bottom: -43rem;
  left: 0;
  z-index: 998;
  width: 100vw;
  visibility: hidden;
  background: #fff;
  transition: opacity 0.5s;
  opacity: 0;
}
#header .header_wr .l_wr nav:hover .pan {
  visibility: visible;
  opacity: 1;
}
.header_wr .util {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.header_wr .util li a {
  display: block;
  font-size: 0;
}
.header_wr .util li a img {
  transition: all 0.5s;
}
.header_wr .btn_allmenu_open {
  display: none;
}

.aside_wrap {
  display: none;
}
@media screen and (max-width: 1280px) {
  #header .header_wr {
    position: relative;
    height: 70px;
  }
  #header .header_wr .btn_allmenu_open {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 25px;
    height: 20px;
  }
  #header .header_wr .btn_allmenu_open span {
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
  }
  #header .header_wr h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header .header_wr h1 img,
  .aside_wrap h1 img {
    width: 40px;
  }
  #header .header_wr nav {
    display: none;
  }
  .header_wr .util li:nth-child(odd) {
    display: none;
  }
  .aside_wrap {
    display: block;
    padding: 0 15px 100px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  .aside_wrap h1 {
    display: flex;
    justify-content: center;
    padding: 15px 0;
  }
  .aside_wrap .log_in {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 500;
  }
  .aside_wrap .log_in span {
    border-bottom: 1px solid #000;
  }
  .aside_wrap .util {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .aside_wrap .util a {
    padding: 7px 30px;
    position: relative;
    width: 33.33%;
    background: #fff;
    font-size: 14px;
    text-align: center;
    opacity: 0.4;
  }
  .aside_wrap .util a:not(:last-child)::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 17px;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    transform: translateY(-50%);
  }
  .aside_wrap .util a span {
    display: block;
    padding-left: 22px;
    background: pink;
    background: url() no-repeat left center / 22px;
  }
  .aside_wrap .util a:nth-child(1) span {
    background-image: url(../img/m_util1.svg);
  }
  .aside_wrap .util a:nth-child(2) span {
    background-image: url(../img/m_util2.svg);
  }
  .aside_wrap .util a:nth-child(3) span {
    background-image: url(../img/m_util3.svg);
  }
  .aside_wrap .allmenu_list {
    margin-top: 30px;
  }
  .aside_wrap .allmenu_list > ul > li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(122, 173, 211, 0.2);
    font-size: 22px;
    font-weight: 500;
  }
  .aside_wrap .allmenu_list ul > li > a {
    display: block;
    position: relative;
    width: 100%;
  }
  .aside_wrap .allmenu_list > ul > li > a::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 8px;
    background: url(../img/m_arrow_down.svg) no-repeat center / contain;
    content: "";
    transform: translateY(-50%);
  }
  .aside_wrap .allmenu_list > ul > li .dep2 {
    display: none;
    font-size: 16px;
  }
  .aside_wrap .allmenu_list > ul > li .dep2:not(.ver2),
  .aside_wrap .allmenu_list > ul > li .dep2.ver2 > li {
    margin-top: 10px;
    padding: 30px;
    background: #f9f9f9;
  }
  .aside_wrap .allmenu_list > ul > li .dep2.ver2 > li {
    font-size: 18px;
    font-weight: 700;
  }
  .aside_wrap .allmenu_list > ul > li .dep2.ver2 > li > a {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
  .aside_wrap .allmenu_list > ul > li .dep2 .dep3 {
    font-size: 16px;
    font-weight: 500;
  }
  .aside_wrap .allmenu_list > ul > li .dep2 .dep3 li {
    margin-top: 10px;
  }
  .aside_wrap .allmenu_list > ul > li.active .dep2 {
    display: block;
  }
  .aside_wrap .allmenu_list > ul > li.active > a::after {
    transform: translateY(-50%) rotate(-180deg);
  }
  .aside_wrap .store {
    display: block;
    margin-top: 20px;
    padding: 12px 0;
    width: 100%;
    background: var(--main_color);
    color: #fff;
    text-align: center;
  }
  .aside_wrap .store span {
    display: inline-block;
    padding-left: 15px;
    background: url(../img/btn_store_mo.svg) no-repeat left center / 1rem;
  }
  .aside_wrap .btn_aside_clo {
    margin: 15px 0;
    position: absolute;
    top: 0;
    right: 3%;
    width: 30px;
    height: 30px;
  }
  .aside_wrap .btn_aside_clo span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #000;
  }
  .aside_wrap .btn_aside_clo span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .aside_wrap .btn_aside_clo span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
/* header-end */

/* main */
/* common */
.style_f {
  font-family: "Times Newer Roman", Times, serif;
  font-style: italic;
}
#main .inner {
  margin: 0 auto;
  padding: 0 3%;
}
#main .collection .inner,
#main .shop .inner,
#main .qna .inner {
  padding-top: 15rem;
  padding-bottom: 15rem;
}
#main .about_sealy .inner,
#main .community .inner {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.inner h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
}
.inner h3 .bar {
  display: block;
  margin: 0 1rem;
  width: 6rem;
  height: 0.1rem;
  background: rgba(0, 0, 0, 0.2);
}
.sub_title {
  font-size: 8rem;
}
.sub_title span {
  display: inline-block;
  line-height: 1;
}
.about_sealy .content_wrap .about_list li::after,
.qna .inner ul li::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/btn_arrow_black.svg) no-repeat center / contain;
  transition: all 0.5s ease-in-out;
  content: "";
  transform: translateY(-50%);
  opacity: 0;
}
/* btn_view_more */
.btn_view_more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  max-width: 24rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
}
.btn_view_more::after {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background: url(../img/btn_arrow_black.svg) no-repeat center / contain;
  transition: all 0.3s ease-in-out;
  content: "";
  filter: contrast(0.1) invert(0);
}
.btn_view_more:hover {
  border-color: var(--font-color-primary);
  background: var(--font-color-primary);
  color: #fff;
}
.btn_view_more:hover::after {
  filter: contrast(1) invert(1);
}
@media screen and (max-width: 1280px) {
  .btn_view_more {
    padding: 0.8rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    max-width: 16.6rem;
    color: #000;
  }
  .btn_view_more::after {
    width: 5rem;
    height: 0.8rem;
    background: url(../img/mbtn_arrow_black.svg) no-repeat center right;
  }
}
/* main_visual */
#main .main_visual {
  overflow: hidden;
  position: relative;
  max-width: fit-content;
  height: 100vh;
  min-height: 740px;
}
#main .main_visual_list {
  display: flex;
  flex-wrap: nowrap;
}
#main .visual_list_item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
#main .visual_list_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main .visual_list_item img:last-child {
  display: none;
}
#main .main_visual .swiper-button-prev,
#main .main_visual .swiper-button-next {
  width: 3.5rem;
  height: auto;
  color: #fff;
}
#main .main_visual .swiper-button-prev {
  left: 7%;
}
#main .main_visual .swiper-button-next {
  right: 7%;
}
#main .main_visual .swiper-button-next img {
  transform: rotate(-180deg);
}
#main .main_visual .swiper-button-prev::after,
#main .main_visual .swiper-button-next::after {
  display: none;
}
#main .main_visual .swiper-scrollbar {
  top: 64%;
  left: 14%;
  width: 39rem;
  height: 0.2rem;
  background: rgba(255, 255, 255, 0.3);
}
#main .main_visual .swiper-scrollbar .swiper-scrollbar-drag {
  background: #fff;
  opacity: 1;
}
#main .main_visual .swiper-pagination {
  position: static;
  width: auto;
  font-size: 1.4rem;
  color: #fff;
}
#main .main_visual .fraction_box {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 67%;
  left: 14%;
}
#main .main_visual .fraction_box button {
  margin-top: 0;
  position: static;
  width: 2rem;
  height: 1rem;
  background: url(../img/btn_slider_arrow.webp) no-repeat center / 100%;
  opacity: 1 !important;
}
#main .main_visual .fraction_box button:last-child {
  transform: rotate(-180deg);
}
@media screen and (max-width: 1280px) {
  #main .main_visual .swiper_btn {
    display: none;
  }
  #main .main_visual .swiper-scrollbar {
    top: auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  #main .main_visual .fraction_box {
    top: auto;
    bottom: 4%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 1120px) {
  #main .visual_list_item img:first-child {
    display: none;
  }
  #main .visual_list_item img:last-child {
    display: block;
  }
}
/* main_intro */
/* mob */
#main .main_intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0 21rem;
}
#main .main_intro .intro_img img {
  display: block;
  margin: 0 auto;
}
#main .main_intro > span {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 2.6rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
}
#main .main_intro .video_wrap {
  margin: 5rem 0;
  padding-bottom: 31.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
}
#main .main_intro .video_wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main .main_intro .intro_txt {
  display: flex;
  justify-content: center;
  padding-top: 13rem;
  position: relative;
  width: 100%;
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
}
#main .main_intro .intro_txt .pc_txt {
  font-size: 3.1rem;
  letter-spacing: -0.02rem;
}
#main .main_intro .intro_txt .bg_txt {
  display: block;
  position: absolute;
  top: 0;
  right: 4rem;
  font-size: 11vw;
  font-weight: 600;
  line-height: 16rem;
  color: var(--main_color_10);
}
#main .main_intro .m_txt {
  display: none;
}
@media screen and (max-width: 1280px) {
  #main .main_intro {
    padding-bottom: 10rem;
  }
  #main .main_intro .intro_img {
    width: 22rem;
  }
  #main .main_intro > span {
    font-size: 1.3rem;
  }
  #main .main_intro .video_wrap {
    height: 100%;
    aspect-ratio: 720 / 740;
  }
  #main .main_intro .video_wrap iframe {
    transform: scale(3.4);
  }
  #main .main_intro .intro_txt {
    padding-top: 5rem;
  }
  #main .main_intro .intro_txt .pc_txt {
    display: none;
  }
  #main .main_intro .intro_txt .m_txt {
    display: block;
    align-items: center;
    font-size: 1.6rem;
    font-weight: normal;
  }
  #main .main_intro .intro_txt .m_txt b {
    font-weight: 700;
  }
  #main .main_intro .intro_txt .bg_txt {
    right: 0;
    left: 0;
    font-weight: 500;
    line-height: normal;
  }
}
/* about-sealy */
.about_sealy {
  background: var(--main_color_10);
}
.about_sealy .content_wrap {
  margin-top: 3rem;
  position: relative;
}
.about_sealy .content_wrap .about_content {
  position: relative;
}
.about_sealy .content_wrap .about_content li {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.about_sealy .content_wrap .about_content li .img_box {
  width: 73rem;
}
.about_sealy .content_wrap .about_content li .img_box img {
  display: block;
  width: 100%;
}
.about_sealy .about_content .content_txt {
  margin-top: 3rem;
}
.about_sealy .about_content .content_txt .sub_title {
  display: flex;
  flex-direction: column;
  line-height: 10rem;
}
.about_sealy .about_content .content_txt .pc_p {
  margin-top: 3rem;
  font-size: 1.6rem;
}
.about_sealy .about_content .content_txt .m_p {
  display: none;
}
.about_sealy .content_wrap .about_list {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 4rem;
  left: 22rem;
  z-index: 2;
  width: 39rem;
}
.about_sealy .content_wrap .about_list ul {
  display: flex;
  flex-direction: column;
  transform: none !important;
}
.about_sealy .content_wrap .about_list li {
  position: relative;
  z-index: 99;
  pointer-events: visible;
}
.about_sealy .content_wrap .about_list li a {
  display: block;
  padding: 1rem 0;
  border-bottom: 1px solid var(--font-color-primary);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--font-color-primary);
  letter-spacing: normal;
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.about_sealy .content_wrap .about_list li.on a {
  border-color: #000;
  font-weight: 500;
  color: #000;
}
.about_sealy .content_wrap .about_list li.on::after {
  opacity: 1;
}
.about_list .list_cont.act {
  opacity: 1;
}
.about_sealy .btn_view_more {
  display: none;
}
@media screen and (max-width: 1279px) {
  .about_sealy .content_wrap .about_content li {
    flex-direction: column;
  }
  .about_sealy .content_wrap .about_content li .img_box {
    width: 57rem;
  }
  .about_sealy .about_content .content_txt {
    letter-spacing: normal;
    order: 2;
  }
  .about_sealy .about_content .content_txt .sub_title {
    display: block;
    font-size: 4.5rem;
    line-height: normal;
  }
  .about_sealy .about_content .content_txt p {
    line-height: 1.5;
  }
  .about_sealy .about_content .content_txt .pc_p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .about_sealy .about_content .content_txt .pc_p.none {
    display: none;
  }
  .about_sealy .about_content .content_txt .m_p {
    display: block;
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .about_sealy .content_wrap .about_list {
    display: none;
  }
  .about_sealy .btn_view_more {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }
  /* common */
  .about_sealy .content_wrap .swiper-scrollbar {
    height: 1px;
    background-color: rgba(122, 173, 211, 0.4);
  }
  .about_sealy .swiper-scrollbar-drag {
    background-color: var(--main_color);
  }
}
/* collection */
.collection {
  position: relative;
}
.collection .inner .collection_list {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.collection .inner .collection_list li {
  overflow: hidden;
  position: relative;
  width: calc(20% - 1.5rem);
  transition: all 0.7s ease-in-out;
}
.collection .inner .collection_list li p {
  position: absolute;
  top: 3%;
  left: 50%;
  font-size: 1.9rem;
  color: #fff;
  letter-spacing: normal;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
  opacity: 0.8;
}
.collection .inner .collection_list .img_box img {
  display: block;
  width: auto;
  max-width: fit-content;
}
.collection .collection_list li:hover {
  width: 77%;
}
.collection .collection_list li:hover p {
  opacity: 0;
}
.collection .inner .collection_list li .dec_inner .logo img.m_logo {
  display: none;
}
@media screen and (min-width: 1280px) {
  .collection .inner .collection_list li .dec_inner {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.4s 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .collection .inner .collection_list li:hover .dec_inner {
    opacity: 1;
  }
}
@media screen and (max-width: 1279px) {
  .collection .inner .collection_list li {
    width: 100%;
  }
  .collection .inner .collection_list li .dec_inner {
    opacity: 1;
  }
  .collection .inner .collection_list li p {
    opacity: 0;
  }
  .collection .inner .collection_list .img_box img {
    width: 100%;
    max-width: 100%;
  }
  .collection .inner .collection_list li .dec_inner .logo {
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    height: 7rem;
  }
  .collection .inner .collection_list li .dec_inner.n1 .logo {
    background: #847369;
  }
  .collection .inner .collection_list li .dec_inner.n2 .logo {
    background: #284e53;
  }
  .collection .inner .collection_list li .dec_inner.n3 .logo {
    background: #784c45;
  }
  .collection .inner .collection_list li .dec_inner.n4 .logo {
    background: #242d42;
  }
  .collection .inner .collection_list li .dec_inner.n5 .logo {
    background: #514d4c;
  }
  .collection .inner .collection_list li .dec_inner .logo img.pc_logo {
    display: none;
  }
  .collection .inner .collection_list li .dec_inner .logo img.m_logo {
    display: block;
  }
  .collection .inner .collection_list li .dec_inner .btn_view_more {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  /* common */
  .collection .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 0;
    height: 1px;
    background-color: rgba(122, 173, 211, 0.4);
  }
  .collection .swiper-scrollbar-drag {
    background-color: var(--main_color);
  }
}
/* event */
.event .eve_cont_wr {
  display: flex;
}
.event .eve_cont_wr .ev_conts {
  display: flex;
  position: relative;
}
.event .eve_cont_wr .ev_conts img.mo_ev_img {
  display: none;
}
.event .eve_cont_wr .btn_view_more {
  position: absolute;
  bottom: 6.5rem;
  left: 10rem;
}
@media screen and (max-width: 1279px) {
  .event .eve_cont_wr {
    flex-direction: column;
  }
  .event .eve_cont_wr .ev_conts img.pc_ev_img {
    display: none;
  }
  .event .eve_cont_wr .ev_conts img.mo_ev_img {
    display: block;
  }
  .event .eve_cont_wr .btn_view_more {
    bottom: 5rem;
    left: 2rem;
  }
}
/* shop */
.swiper-container.shop {
  overflow: hidden;
}
#main .shop .inner {
  padding-right: 0;
}
.shop .inner .sub_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.shop .inner .sub_title .btn_view_more {
  position: absolute;
  right: 3%;
}
.shop .contents_wrap {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3rem;
}
.shop .contents_wrap li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
}
.shop .contents_wrap li > a img {
  display: block;
}
.shop .contents_wrap li .des_box {
  margin-top: 2rem;
  font-size: 1.4rem;
}
.shop .contents_wrap li strong {
  font-size: 1.6rem;
  font-weight: 500;
}
.shop .contents_wrap li .simple_desc {
  margin: 1rem 0;
  line-height: 2.4rem;
  color: #9e9e9e;
}
.shop .contents_wrap li .price span {
  display: inline-block;
  margin-right: 1rem;
}
.shop .contents_wrap li .price i {
  font-weight: 600;
  color: var(--font-color-primary);
}
.shop .contents_wrap li .wish_icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.2rem;
}
@media screen and (max-width: 1279px) {
  .shop .inner .sub_title .btn_view_more {
    display: none;
  }
}
/* community */
.community {
  background: var(--main_color_10);
}
.community .inner .content_wrap {
  display: flex;
  gap: 10rem;
}
.community .inner .content_wrap .sub_title {
  width: 41rem;
  white-space: nowrap;
}
.community .inner .content_wrap ul {
  display: flex;
  gap: 1.8rem;
  width: calc(100% - 41rem);
}
.community .inner .content_wrap ul li {
  width: 33.33%;
  background: #fff;
}
.community .inner .content_wrap ul li a {
  display: block;
  padding: 3rem;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.community .inner .content_wrap ul li i {
  display: block;
  width: 5.7rem;
  height: 5.7rem;
}
.community .inner .content_wrap ul li:nth-of-type(1) i {
  background: url(../img/pc_sec07_04.webp) no-repeat center / 100%;
}
.community .inner .content_wrap ul li:nth-of-type(2) i {
  background: url(../img/pc_sec07_05.webp) no-repeat center / 100%;
}
.community .inner .content_wrap ul li:nth-of-type(3) i {
  background: url(../img/pc_sec07_06.webp) no-repeat center / 100%;
}
.community .inner .content_wrap ul li strong {
  display: block;
  margin: 5rem 0 2rem 0;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color-primary);
}
.community .inner .content_wrap ul li p {
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.community .content_wrap ul li strong,
.community .content_wrap ul li p {
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}
.community .inner .content_wrap ul li a::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  content: "";
  opacity: 0;
}
.community .inner .content_wrap ul li:nth-of-type(1) a::after {
  background: url(../img/pc_sec07_03_1.webp) no-repeat center / cover;
}
.community .inner .content_wrap ul li:nth-of-type(2) a::after {
  background: url(../img/pc_sec07_01.webp) no-repeat center / cover;
}
.community .inner .content_wrap ul li:nth-of-type(3) a::after {
  background: url(../img/pc_sec07_02.webp) no-repeat center / cover;
}

@media screen and (min-width: 1280px) {
  .community .inner .content_wrap ul li a:hover::after {
    opacity: 1;
  }
  .community .inner .content_wrap ul li a:hover strong {
    color: #fff;
  }
  .community .inner .content_wrap ul li a:hover p {
    color: #fff;
  }
}
@media screen and (max-width: 1279px) {
  .community .inner .content_wrap {
    gap: 1rem;
    flex-direction: column;
  }
  .community .inner .content_wrap ul {
    flex-direction: column;
    width: 100%;
  }
  .community .inner .content_wrap ul li {
    width: 100%;
  }
  .community .inner .content_wrap ul li a {
    padding: 2rem;
  }
  .community .inner .content_wrap ul li i {
    width: 4rem;
    height: 4rem;
  }
  .community .inner .content_wrap ul li strong {
    margin: 1rem 0;
    font-size: 2.1rem;
  }
  .community .inner .content_wrap ul li p {
    font-size: 1.2rem;
    line-height: normal;
  }
  .community .inner .content_wrap ul li p > br {
    display: none;
  }
}

/* qna */
.qna .inner {
  text-align: center;
}
.qna .inner > p {
  font-size: 2.7rem;
  font-weight: 500;
  text-align: center;
}
.qna .inner > p > br {
  display: none;
}
.qna .inner ul {
  margin: 5rem auto 0;
  width: 100%;
  max-width: 90rem;
}
.qna .inner ul li {
  display: flex;
  align-items: center;
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--font-color-primary);
  position: relative;
  color: var(--font-color-primary);
  transition: all 0.5s;
}
.qna ul li > a {
  display: flex;
  align-items: center;
}
.qna .inner ul li > a .txt_box {
  display: flex;
  align-items: baseline;
}
.qna .inner ul li i {
  display: block;
  width: 4rem;
  height: 4rem;
  background: var(--font-color-primary);
  transition: all 0.5s;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.qna ul li:nth-of-type(1) i {
  mask-image: url(../img/qna1.svg);
}
.qna ul li:nth-of-type(2) i {
  mask-image: url(../img/qna2.svg);
}
.qna ul li:nth-of-type(3) i {
  mask-image: url(../img/qna3.svg);
}
.qna ul li:nth-of-type(4) i {
  mask-image: url(../img/qna4.svg);
}
.qna ul li .txt_box strong {
  margin-left: 3rem;
  font-weight: 600;
}
.qna ul li .txt_box p {
  margin-left: 1.5rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 1280px) {
  .qna .inner ul li:hover {
    border-color: #000;
    color: #000;
  }
  .qna .inner ul li:hover::after {
    opacity: 1;
  }
  .qna .inner ul li:hover i {
    background: #000;
  }
}
@media screen and (max-width: 1280px) {
  .qna .inner > p {
    font-size: 2.3rem;
  }
  .qna .inner > p > br {
    display: block;
  }
  .qna .inner ul li {
    padding: 1.5rem 0;
    border-color: #000;
    color: #000;
  }
  .qna .inner ul li > a {
    gap: 2rem;
  }
  .qna .inner ul li i {
    width: 3.5rem;
    height: 3.5rem;
    background: #000;
  }
  .qna .inner ul li > a .txt_box {
    flex-direction: column;
  }
  .qna ul li > a .txt_box > * {
    margin-left: 0;
  }
  .qna ul li .txt_box strong {
    font-size: 1.4rem;
  }
  .qna ul li .txt_box p {
    font-size: 1.2rem;
    opacity: 0.6;
  }
}
/* footer */
#footer {
  background: #000;
}
#footer * {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: normal;
}
#footer .footer_wrap {
  padding: 5% 5% 0;
}
#footer .footer_wrap .m_link_box {
  display: none;
}
#footer .footer_wrap .inner {
  display: flex;
  justify-content: space-between;
}
#footer .footer_wrap .left {
  display: flex;
  gap: 5rem;
}
#footer .footer_wrap .left .footer_inner .info_box {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
}
#footer .footer_wrap .left .footer_inner strong {
  font-size: 1.4rem;
  font-weight: 500;
}
#footer .footer_wrap .left .footer_inner .info_box dl {
  display: flex;
}
#footer .footer_wrap .left .footer_inner .info_box dl > * {
  line-height: 2.2rem;
}
#footer .left .footer_inner .info_box dl dd {
  margin-left: 1rem;
  font-weight: 200;
  opacity: 0.5;
}
#footer .left .footer_inner .info_box dl .company_code {
  opacity: 0.8;
}
#footer .left .footer_inner .info_box dl .company_code a {
  padding: 0.5rem 1.5rem;
  border: solid 1px rgba(255, 255, 255, 0.2);
}
#footer .left .footer_inner .link_box {
  display: flex;
  gap: 1.5rem;
  margin-top: 4rem;
}
#footer .left .footer_inner .link_box a {
  font-size: 1.4rem;
}
#footer .left .footer_inner .link_box .bold {
  font-weight: 700;
}
#footer .left .footer_inner .copy {
  display: block;
  margin-top: 0.5rem;
  font-weight: 200;
  opacity: 0.5;
}
#footer .right .num {
  font-size: 3rem;
  line-height: normal;
}
#footer .right .cs {
  margin-top: 0.5rem;
  opacity: 0.5;
}
#footer .right .cs span {
  display: block;
}
#footer .right .sns_box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}
#footer .right .sns_box a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(255, 255, 255, 0.2);
  width: 4rem;
  height: 4rem;
}
#footer .style_f {
  display: block;
  font-size: 18rem;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
  opacity: 0.1;
}
@media screen and (max-width: 1279px) {
  #footer {
    position: relative;
  }
  #footer .footer_wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0 5%;
  }
  #footer .footer_wrap .inner {
    display: block;
    padding: 0 3%;
  }
  #footer .footer_wrap .m_link_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #footer .footer_wrap .m_link_box li {
    padding: 0 1.5rem;
    position: relative;
  }
  #footer .footer_wrap .m_link_box li:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.1rem;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    content: "";
    transform: translateY(-50%);
  }
  #footer .footer_logo {
    display: none;
  }
  #footer .footer_wrap .left .footer_inner {
    margin-top: 3rem;
  }
  #footer .footer_wrap .left .footer_inner .info_box {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 2rem;
  }
  #footer .left .footer_inner .link_box {
    display: none;
  }
  #footer .left .footer_inner .copy {
    position: absolute;
    bottom: 5%;
  }
  #footer .right p {
    margin-top: 3rem;
  }
  #footer .right .cs > br {
    display: none;
  }
  #footer .right .sns_box {
    margin-bottom: 6rem;
  }
  #footer .style_f {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  #main .collection .inner,
  #main .shop .inner,
  #main .qna .inner {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .inner h3 .summary_title {
    font-size: 1.7rem;
  }
  .inner h3 .bar {
    width: 3rem;
    height: 0.2rem;
  }
  .sub_title {
    font-size: 4.5rem;
    white-space: nowrap;
  }
}
