@charset "UTF-8";
/* 지란지교시큐리티 */
*{box-sizing: border-box;}
#wrap{min-width: 1120px;}
body{font-size: 16px;}
body,ul,li,p,h1,h2,h3,h4{margin: 0;padding: 0;font: inherit;}
ul li{list-style: none;}
a{color: inherit;text-decoration: none;}
.hide_txt{position: absolute;overflow: hidden;width: 1px;height: 1px;margin: -1px;clip-path: polygon(0 0,0 0,0 0);}
/* header */
.header{display: flex;min-width: 1280px; height: 90px;padding: 0 100px; justify-content: space-between;align-items: center;position: fixed;left: 0;right: 0;top:0; background: #fff;z-index: 9999;box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);transition: top 0.2s ease-in-out;}
.header h1{width: 175px;height: 22px;}
.header h1 a{display: block; width: 100%;height: 100%;background: url(./img/img_ci_jiransecurity@2x.png) no-repeat;background-size: contain;}

.h2_txt{font-size: 32px;font-weight: 700;}
nav #gnb{display: flex;letter-spacing: -0.1rem;}
nav #gnb>li>a{margin: 0 40px;font-weight: 800;font-size: 17px;}

nav #gnb .dep2{display: flex;background: #fff;position: absolute;top: 90px;left: 0;right: 0; justify-content: center;padding: 40px 0 100px;margin: 0 auto;}
nav #gnb .dep2>li{padding: 0 30px;line-height: 2rem;}
nav #gnb .dep2>li>a{font-weight: 800;font-size: 15px;}
nav #gnb .dep2 ul>li{font-size: 0.8rem;font-weight: 500;}

.util{width: 150px;height: 30px;background: pink;}
/* header-end */
section{display: flex;height: 100vh;min-height: 720px; justify-content: center;align-items: center;}
.container{width: 1280px;margin: auto;display: flex;flex-direction: column;justify-content: center;padding: 70px 0 60px 0;}

.container>p{margin-bottom: 40px;}
section{overflow: hidden;}

/* visual */
/* .visual{} */
.visual .container{flex-direction: row;justify-content: space-between;align-items: center;}
ul[class$="list"],div[class$="list"]{display: flex;justify-content: space-between;}

/* service(2) */
.service{background: #f7f7f7;}
.service h2,.service p{text-align: center;}
.service_contents{display: flex;flex-direction: column;align-items: center; width: calc(100% / 4); height: 400px;padding-top: 90px; transition: all 0.3s;text-align: center;}
.service_contents:hover{box-shadow: 4px 12px 40px 0 rgba(0,0,0,.2);background: #fff;z-index: 5;}
.service_contents .img_box{width: 116px;height: 116px;position: relative; top:0; transition: top 0.3s;}
.service_contents:hover .img_box{top: -30px;}
.service_contents:hover .product_list{top: -42px;opacity: 1;z-index: 10;}
.service_contents .img_box img{width: 100%;height: 100%;}
.service_contents strong{font-size: 20px;letter-spacing: -1.4px;}
.service_contents p{margin-top: 15px;}
.service_contents:hover p{opacity: 0;}
.service_contents .product_list{flex-direction: column;position: relative;top: 0;opacity: 0;transition: top 0.3s;}

.service .service_search{margin-top: 40px;text-align: center;}
.service_search a{display: inline-block; width: 180px;height: 50px;line-height: 50px; border: 1px solid #000;}

/* ad_vod */
.ad_vod{background: #ccc;}
.ad_vod .container{justify-content: space-between;align-items: center;flex-direction: row;}
.ad_vod .content_right{width: 840px;height: 472px; border: 1px solid #000;}

/* customer(4) */

.customer h2,.customer p{text-align: center;}
.customer .customer_slider_wrap{overflow: hidden;}
.customer .customer_list{display: -webkit-box; position: relative;padding-bottom: 52px;}
.customer .customer_contents{width: 620px;height: 400px;border: 1px solid #000;padding: 50px;}
.customer .customer_contents:nth-of-type(odd){margin-right: 40px;}

.customer .customer_btn_pre{background: pink;position: absolute;left: -60px;top: 50%;}
.customer .customer_btn_pre::after{content: '';display: block;}
.customer .customer_btn_next{background: skyblue;position: absolute;right: -60px;top: 50%;}
.customer .customer_btn_next::after{content: '';display: block;}
.customer .customer_swiper{background: yellow;position: absolute;left: 50%; bottom: 0;transform:translate(-50%, 0);}

/* news(5)*/
.news{background: #f5f6f8;;}
.news h2,.news p{text-align: center;}
.news .news_list{margin: 0 -20px;}
.news .news_contents{width: 33.3%;height: 400px;padding: 0 20px;}
.news .news_contents>a{display: block;width: 100%;height: 100%;box-shadow: 4px 12px 40px 0 rgba(0,0,0,.2);}
.news .news_contents>a>img{height: 230px;}
.news_contents .desc{padding: 32px 40px;}
.news_contents .desc .desc_top{display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 2;font-size: 22px;margin-bottom: 10px;}

@media (min-width: 0) and (max-width: 1280px){
  section{padding: 0 20px;}
}

/* footer */
footer{min-width: 1280px;height: 300px;padding: 50px 0 60px;letter-spacing: -0.0625em;}
.footer_menu{display: flex;position: relative;width: 1280px;height: 50px;border-bottom: 1px solid gray;justify-content: space-between;margin: 0 auto;padding-bottom: 30px;}
.footer_menu .menu_left{font-size: 0.8rem;}
.footer_menu .menu_left a:first-child{padding-right: 10px;position: relative;font-weight: 800;color: rgb(255, 115, 0);}
.footer_menu .menu_left a:first-child::after{content: '';position: absolute;top: 3px;right: 2px;width: 2px;height: 16px;background: #ccc;
}
footer .menu_right{display: flex; position: absolute; width: 170px;height: 36px;border: 1px solid #000;font-size: 0.8rem;padding: 5px 10px;right: 0;top: -10px;}
footer .menu_right select{width: 100%;background:transparent;border: none;}
footer .footer_bottom{width: 1280px; padding-top: 30px;margin: 0 auto;position: relative;}
.footer_bottom address{font-style: normal;}
.footer_bottom em{font-style: normal; font-weight: 700;}
.footer_bottom .company_info,.company_address{font-size: 0.9rem;}
.footer_bottom .company_address,.footer_bottom .copyright{margin-top: 30px;}

.footer_bottom .sns_list{width: 190px;height: 40px;right: 0;top: 20px;position: absolute;border: 1px solid #000;}
